<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mi perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Mi perfil</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <ion-avatar class="perfil-img">
        <img alt="Silhouette of a person's head" src="{{User.image}}" />
      </ion-avatar>
      <ion-title>{{User.name}}</ion-title>
    </ion-card>

    <ion-card>
      <ion-title>Estadisticas</ion-title>
      <ion-list>
        <ion-item>
          <ion-label>Compras realizadas</ion-label>
          <ion-button color="danger" class="button-info" slot="end">
            <ion-icon name="cube-outline" slot="start"></ion-icon>
            12
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>Productos en el carrito</ion-label>
          <ion-button color="warning" class="button-info" slot="end">
            <ion-icon name="cart-outline"  slot="start"></ion-icon>
            13
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-button color="success" class="button-info" slot="end">
            <ion-icon name="star-outline" slot="start"></ion-icon>
            Activo
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-title>Tu información</ion-title>
      <ion-list>
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <p>{{User.name}}</p>
        </ion-item>

        <ion-item>
          <ion-label>Email:</ion-label>
          <p>{{User.email}}</p>
        </ion-item>

        <ion-item>
          <ion-label>Teléfono:</ion-label>
          <p></p>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-title>Direcciones</ion-title>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Direccion 1</h2>
            <p>Calle Reforma 123, Col. Centro, Ciudad de México, CDMX, 06000, México</p>
          </ion-label>
          <ion-button color="warning" class="button-info" slot="end">
            <ion-icon name="pencil-sharp" size="large"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Direccion 2</h2>
            <p>Av. Siempre Viva 742, Springfield, Illinois, 62704, EE.UU.</p>
          </ion-label>
          <ion-button color="warning" class="button-info" slot="end">
            <ion-icon name="pencil-sharp" size="large"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Direccion 3</h2>
            <p>Carrer de la Pau 56, 08002 Barcelona, España</p>
          </ion-label>
          <ion-button color="warning" class="button-info" slot="end">
            <ion-icon name="pencil-sharp" size="large"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>


      <ion-button href="/catalog" class="crea-cuenta grande">Todo bien</ion-button>
  

    <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
      <ion-fab-button href="/edit-profile" color="medium">
        <ion-icon class="settings-btn" name="settings-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</div>
