<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mi perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Mi perfil</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <ion-avatar class="perfil-img">
        <img alt="foto" [src]="User.image" />
      </ion-avatar>
      <ion-title>{{User.name}}</ion-title>
    </ion-card>

    <ion-card>
      <ion-title>Estadisticas</ion-title>
      <ion-list>
        <ion-item>
          <ion-label>Compras realizadas</ion-label>
          <ion-button color="danger" class="button-info" slot="end">
            <ion-icon name="cube-outline" slot="start"></ion-icon>
            12
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>Productos en el carrito</ion-label>
          <ion-button color="warning" class="button-info" slot="end">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            <!-- {{ number_of_products }} -->
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-button color="success" class="button-info" slot="end">
            <ion-icon name="star-outline" slot="start"></ion-icon>
            Activo
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-title>Tu información</ion-title>
      <ion-list>
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <p>{{User.name}}</p>
        </ion-item>

        <ion-item>
          <ion-label>Email:</ion-label>
          <p>{{User.email}}</p>
        </ion-item>

        <ion-item>
          <ion-label>Teléfono:</ion-label>
          <p>{{User.phone}}</p>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-title>Direcciones</ion-title>

      <ion-list>
        <ion-item *ngFor="let direction of User.direction">
          <ion-label>
            <h2>{{direction.name}}</h2>
            <p>{{direction.residence}}, {{direction.city}}. {{direction.state}}, {{direction.postal_code}}.</p>
          </ion-label>

          <!-- Botón para abrir el modal de edición con la dirección seleccionada -->
          <ion-button color="warning" class="button-info" slot="end" (click)="editDirection(direction)">
            <ion-icon name="pencil-sharp" size="large"></ion-icon>
          </ion-button>

          <!-- Modal de edición de dirección -->
          <ion-modal #editarModal>
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <!-- Alert para confirmar la eliminación -->
                    <ion-button id="present-alert" (click)="presentDeleteAlert(direction.id)">Eliminar</ion-button>
                    <ion-alert trigger="present-alert" header="Eliminar" [buttons]="alertButtons"></ion-alert>
                  </ion-buttons>
                  <ion-title>Editar</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="updateDirection(editarModal)" [strong]="true">Guardar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>

              <ion-content class="ion-padding">
                <ion-item>
                  <ion-input [(ngModel)]="direction.name" label="Nombre" labelPlacement="stacked" type="text"
                    placeholder='"Mi casa"'></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input [(ngModel)]="direction.state" label="Estado" labelPlacement="stacked" type="text"
                    placeholder="Estado"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input [(ngModel)]="direction.city" label="Ciudad" labelPlacement="stacked" type="text"
                    placeholder="Ciudad"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input [(ngModel)]="direction.postal_code" label="Código postal" labelPlacement="stacked"
                    type="text" placeholder="Código postal"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input [(ngModel)]="direction.residence" label="Dirección" labelPlacement="stacked" type="text"
                    placeholder="Calle y número"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input [(ngModel)]="direction.description" label="Referencias" labelPlacement="stacked"
                    type="text" placeholder="Referencias"></ion-input>
                </ion-item>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-list>

      <!-- Botón para agregar una nueva dirección -->
      <ion-button *ngIf="(User?.direction?.length ?? 0) < 3" id="crear-direccion" expand="block"
        class="crea-cuenta grande">Agregar dirección</ion-button>
      <p>Puedes tener un máximo de 3 direcciones</p>

      <ion-modal #crearModal trigger="crear-direccion" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel(crearModal)">Cancelar</ion-button>
              </ion-buttons>
              <ion-title>Dirección</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirm(crearModal)" (click)="setDirections()" [strong]="true">Agregar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <ion-input [(ngModel)]="direction.name" label="Nombre" labelPlacement="stacked" type="text"
                placeholder='"Mi casa"'></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="direction.state" label="Estado" labelPlacement="stacked" type="text"
                placeholder="Estado"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="direction.city" label="Ciudad" labelPlacement="stacked" type="text"
                placeholder="Ciudad"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="direction.postal_code" label="Código postal" labelPlacement="stacked" type="text"
                placeholder="Código postal"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="direction.residence" label="Dirección" labelPlacement="stacked" type="text"
                placeholder="Calle y número"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="direction.description" label="Referencias" labelPlacement="stacked" type="text"
                placeholder="Referencias"></ion-input>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card>

    <ion-button href="/catalog" class="crea-cuenta grande">Todo bien</ion-button>

    <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
      <ion-fab-button href="/edit-profile" color="medium">
        <ion-icon class="settings-btn" name="settings-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</div>