<div id="main-content" class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Producto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Producto</ion-title>
      </ion-toolbar>
    </ion-header>


    <swiper-container>
      <ng-container *ngIf="product?.image?.length; else emptyImage">
        <swiper-slide *ngFor="let img of product.image">
          <img class="img-slide" [src]="img" alt="avatar" />
        </swiper-slide>
      </ng-container>
      <ng-template #emptyImage>
        <swiper-slide>
          <img class="img-slide" src="/assets/images/empty-image.jpeg" alt="avatar" />
        </swiper-slide>
      </ng-template>
    </swiper-container>
  
    
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label>Exitencias</ion-label>
          <ion-button class="button-info" slot="end">
            <ion-icon name="cube-outline" slot="start"></ion-icon>
            {{product.stock}}
          </ion-button>
        </ion-item>
        
        <ion-item *ngIf="product && product.category">
          <ion-label>Categoria</ion-label>
          <ion-button class="button-info" slot="end">
            <ion-icon name="bookmark-outline" slot="start"></ion-icon>
            {{ product.category.name }}
          </ion-button>
        </ion-item>
        
        <ion-item *ngIf="product && product.brand">
          <ion-label>Marca</ion-label>
          <ion-button class="button-info" slot="end">
            <ion-icon name="extension-puzzle-outline" slot="start"></ion-icon>
            {{ product.brand.name }}
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card class="card-info">
      <ion-card-header>
        <ion-card-title>{{product.name}}</ion-card-title>
        <ion-card-subtitle>${{product.retail_price}} MXN</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{product.description}}
      </ion-card-content>
    </ion-card>
    
      <ion-button class="button-add" (click)="sendToCart(product.id)" fill="solid">
        <ion-icon  name="cart-outline" slot="start"></ion-icon>
        Agregar al carrito
      </ion-button>
  </ion-content>
</div>