<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img alt="Logo FerreDevs" src="assets/logo.svg" />
    
    <ion-input [(ngModel)]="user.email" class="mi-input" type="email" fill="solid" label="Email" labelPlacement="floating"
      helperText="Ingrese su correo" errorText="Correo invalido" ngModel email></ion-input>
    <ion-input [(ngModel)]="user.password" class="mi-input" type="password" fill="solid" label="Contraseña" labelPlacement="floating"
      helperText="Ingrese su contraseña" errorText="Contraseña no posible" ngModel password></ion-input>
    <ion-button type="submit" (click)="login()" class="inicia-sesion">Iniciar Sesión</ion-button>
    <ion-button class="google"> <!-- TODO: AGREGAR FUNCION QUE LLAME AL ENDPOINT DE AUTH CON GOOGLE-->
      <ion-icon name="logo-google"></ion-icon>
      Ingresar con google
    </ion-button> 
    <p>¿No tienes una cuenta?</p>
    <a href="/create-acount"><ion-button class="crea-cuenta">Crear una cuenta</ion-button></a>

  </ion-card>
</ion-content>