<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Pedidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Pedidos</ion-title>
      </ion-toolbar>
    </ion-header>
        <ion-list>
          <ion-item>  <!-- TODO: Agregar el *ngFOR para imprimir la totalidad de los pedidos-->
            <ion-card> <!-- TODO: Agregar la función que redirija a los detalles del pedido-->

              <!--?Nota: No se si están bien las claves que estoy poniendo, necesitar revisar la API-->
              <ion-card-header>
                <ion-card-title>Costo: $</ion-card-title> <!--TODO: {{pedido.total}}-->
                <ion-card-subtitle>Fecha</ion-card-subtitle> <!--TODO: {{pedido.fecha}}-->
              </ion-card-header>
              <ion-card-content> Estado: </ion-card-content> <!--TODO: {{pedido.state}}-->
            </ion-card>
          </ion-item>
        </ion-list>
    <ion-toast position="top" message="Mensaje de error momentaneo" [duration]="2000"></ion-toast>
  </ion-content>
</div>