ion-toolbar{
    text-align: center;
    --ion-background-color: #15207e;
    --color:#eeeeee;
}

ion-card{
    width: 100%;
    margin: 0;
    margin: 10px 0;
    --background: #333333;
    --color: #eeeeee;
}

ion-card-title,
ion-card-subtitle{
    --color: #eeeeee;

}

ion-content{
    padding: 10px;
}