<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Carrito</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Carrito</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card class="principal-card">
      <ion-card-header>
        <ion-card-title>Total: $  MXN</ion-card-title>
        <ion-card-subtitle>Mi carrito</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        ¿Quieres comprar ahora? puededes hacerlo con PayPal
      </ion-card-content>
    
      <ion-button (click)="goToPay()" class="pagar" fill="solid">
        Pagar
      </ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Lista de productos</ion-card-title>
        <ion-card-subtitle>Productos en el carrito</ion-card-subtitle>
      </ion-card-header>
      <ion-list >
        <ion-item  class="ion-activatable ripple-parent rectangle"> <!--TODO Agregar el *ngFOR -->
          <ion-avatar class="product">
            <img [src]="" alt="producto" />
          </ion-avatar>
          <ion-label>
            <h1>Nombre</h1>
            <p>Descripción</p> <!--TODO Agregar el slice que puse en el otro-->
            <h2 class="precio">Precio</h2>
            <h2>Cantidad: </h2>
            <h2>Existencias: </h2>
          </ion-label>
          <ion-card class="cantidades">
            <ion-button class="add" fill="solid"><ion-icon name="add-outline"></ion-icon></ion-button>
            <h2>2</h2>
            <ion-button class="quit" fill="solid"><ion-icon name="remove-outline"></ion-icon></ion-button>
          </ion-card>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-toast position="top" message="Mensaje de error momentaneo" [duration]="2000"></ion-toast>
  </ion-content>
</div>