<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Carrito</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Carrito</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card class="principal-card">
      <ion-card-header>
        <ion-card-title>Total: $ {{cart.total}} MXN</ion-card-title>
        <ion-card-subtitle>Mi carrito</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        ¿Quieres pagar ahora? puededes hacerlo con PayPal
      </ion-card-content>
    
      <ion-button (click)="goToPay()" class="pagar" fill="solid">
        Pagar
      </ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Lista de productos</ion-card-title>
        <ion-card-subtitle>Productos en el carrito</ion-card-subtitle>
      </ion-card-header>
      <ion-list >
        <ion-item-sliding *ngFor="let producto of cart.producto_cart">
        <ion-item  class="ion-activatable ripple-parent rectangle"> <!--TODO Agregar el *ngFOR -->
          <ion-avatar class="product">
            <img src="assets/images/empty-image.jpeg" alt="producto" />
          </ion-avatar>
          <ion-label>
            <h1>{{producto.producto?.name}}</h1>
            <p>{{ (producto.producto?.description || 'Sin descripción') | slice:0:45 }}...
            </p> 
            <h2 class="precio">${{producto.producto?.retail_price}} MXN</h2>
            <h2>Cantidad:{{producto.quantity}} </h2>
            <h2>Existencias:{{producto.producto?.stock}} </h2>
          </ion-label>
          <ion-card class="cantidades">
            <ion-button (click)="incrementOne(producto.producto?.id || '0')" class="add" fill="solid"><ion-icon name="add-outline"></ion-icon></ion-button>
            <h2>{{producto.quantity}}</h2>
            <ion-button class="quit" (click)="decrementOne(producto.producto?.id || '0')" fill="solid"><ion-icon name="remove-outline"></ion-icon></ion-button>
          </ion-card>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>

        <ion-item-options side="end">
          <ion-button (click)="deleteProduct(producto.producto?.id || '0')">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item-options>
        
      </ion-item-sliding>
      </ion-list>
    </ion-card>
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
\  </ion-content>
</div>