<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Nuestros productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <!-- <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Nuestros productos</ion-title>
      </ion-toolbar>
    </ion-header> -->

    <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="desliza hacia abajo"
        refreshingSpinner="circles" refreshingText="Refrescando..."></ion-refresher-content>
    </ion-refresher>

    <img *ngIf="productsList.length === 0" src="assets/images/empty-view.png" class="full-image" />

    <ion-list *ngIf="productsList.length > 0">
      <ion-item *ngFor="let product of productsList" class="ion-activatable ripple-parent rectangle">
        <ion-avatar class="product">
          <!--assets/images/empty-image.png-->
          <ion-img class="img-slide" [src]="'{{product.image[0]}}'" />
        </ion-avatar>
        <ion-label>
          <h1>{{product.name}}</h1>
          <p>{{product.description ? (product.description | slice:0:45) + '...' : 'Sin descripción' }}</p>
          <h2>${{product.retail_price}} MXN</h2>
        </ion-label>
        <ion-icon (click)="goToProductDetail(product.id)" name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-list>
  </ion-content>
</div>