ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    --ion-background-color: #ffffff;
    // padding: 10px;
}

ion-toolbar {
    text-align: center;
    --ion-background-color: #15207e;
    --color: #eeeeee;
}

ion-avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

h2 {
    color: #2ecc71;
    font-weight: 700;
}

ion-button {
    width: 80%;
    --ion-background: #eeeeee;
}

a {
    text-decoration: none;
    color: inherit;
}

ion-item {
    margin-left: 0;
}

.product {
    width: 100px;
    height: 100px;
}

ion-icon {
    margin-right: 10px;
}

.menu-toolbar {
    --ion-background-color: #f77f00;
}

.menu-toolbar ion-title {
    --color: #333333;
}

.full-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto;  /* Centra la imagen horizontalmente */
}

.container {
    text-align: center; /* Centra el contenido del contenedor */
}