<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Sensores</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Sensores</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <img alt="Silhouette of mountains" src="/assets/images/luz.png" />
      <ion-card-header>
        <ion-card-title>Sensor de Luz</ion-card-title>
        <ion-card-subtitle>Luz en el establecimiento:</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <!-- TODO: Agregar los valores del sensor-->
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="/assets/images/gas.png" />
      <ion-card-header>
        <ion-card-title>Sensor de Gases</ion-card-title>
        <ion-card-subtitle>Gases de los tanques:</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <!-- TODO: Agregar los valores del sensor-->
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="/assets/images/pintura.png" />
      <ion-card-header>
        <ion-card-title>Sensor de Temperatura</ion-card-title>
        <ion-card-subtitle>Temperatura de la pintura:</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <!-- TODO: Agregar los valores del sensor-->
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="/assets/images/cemento.png" />
      <ion-card-header>
        <ion-card-title>Sensor de Humedad</ion-card-title>
        <ion-card-subtitle>Humedad del cemento:</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <!-- TODO: Agregar los valores del sensor-->
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>